@import '~scss/utils/_grid';
@import '~scss/_vars';


.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px $dark_opacity_20;

  &__field {
    margin-bottom: 1rem;
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  &__submit-btn {
    align-self: center;
    flex: 0 1 auto;
  }
}