// Fonts
$font-family-montserrat: 'Montserrat', Helvetica, Arial, sans-serif;

// Colors
$dark: rgb(31, 32, 65);
$dark_opacity-5: rgba(31, 32, 65, 0.05);
$dark_opacity-10: rgba(31, 32, 65, 0.1);
$dark_opacity-20: rgba(31, 32, 65, 0.2);
$dark_opacity-40: rgba(31, 32, 65, 0.4);
$dark_opacity-50: rgba(31, 32, 65, 0.5);
$dark_opacity-75: rgba(31, 32, 65, 0.75);
$gray: rgb(242, 245, 250);
$blue: rgb(0, 136, 180);
$blue_opacity-20: rgba(0, 136, 180, 0.2);
$blue_opacity-50: rgba(0, 136, 180, 0.5);

// Grid

$columns: 12;
$gutter-width: 40px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
  xs: 0,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
);

$max-widths: (
  xs: 1200,
);

$gutters: (
  xs: $gutter-width
);
